*{
    margin: 0;
}
.logo{
    
    display: flex;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.nav-link{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link-first{
    padding: 10px;
    display: flex;
}


.game-zone-intro{
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 20px;
}



.btn-1{
    background-color: #FF42A5;
    padding: 10px 20px 10px 20px;
    border: 1px solid #FF42A5;
    border-radius: 50px;
    color: white;
    
}

.btn-2{
    background-color: #399efd;
    padding: 10px 20px 10px 20px;
    border: 1px solid #399efd;
    border-radius: 50px;
    color: white;
    
}


.online-games{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 20px;
}

.play-sec{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
}

.play-sec-heading{
    margin-top: 100px;
}

.features{
    margin-top: 100px;
    margin-bottom: 100px;
}

.features-first-row{
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 90px;
    margin-right: 90px;
    gap: 20px;
}

.features-second-row{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 150px;
    margin-right: 120px;
    gap: 20px;
}

.feat-1{
    display: flex;
    align-items: center;
    
}

.feat-1 img{
    height:40px;
}

.feat-1 p{
    padding-left: 10px;
}

.feat-1:hover{
    border: 1px solid #FF42A5;
    border-radius: 50px;
    color: #FF42A5;
    padding: 10px;
}

.footer{
    background-color: rgb(17, 24, 55);
    padding: 20px;
}

.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-list{
    display: flex;
    justify-content: center;
    color: white;
    padding: 20px;
}

.footer-icon{
    display: flex;
    justify-content: space-evenly;
    margin-left: 600px;
    margin-right: 600px;
    padding: 20px;
}

.footer-link{
    color: white;
    display: flex;
    justify-content: center;
    font-size: xx-small;
    padding: 20px;
}

.footer-last{
    color: white;
    font-size: 10px;
    text-align: center;
    padding: 20px;
}
 

@media screen and (max-width :576px) {
    .nav-bar, .nav-link , .nav-link-first{
        display: flex;
        flex-direction: column;
    }
     .logo{
        justify-content: center;
     }
     .game-zone-intro{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
     }

     .online-games{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
     }

     .play-sec{
        display: flex;
        flex-direction: column-reverse;

     }
     .play-sec-heading{
        text-align: center;
     }
     .play-sec-img img{
         height: 300px;
     }
     .features-first-row{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
        margin: 30px;

     }
     .features-second-row{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
        margin: 30px;
     }
     .footer-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
     }
     .footer-icon{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 50px;
        gap: 30px;
     }
}





@media screen and (min-width :576px) and (max-width : 768px) {
    .game-zone-intro{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
     }
     .online-games{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
     }

     .play-sec{
        display: flex;
        flex-direction: column-reverse;

     }
     .play-sec-heading{
        text-align: center;
     }
     .features-first-row{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
        margin: 30px;

     }
     .features-second-row{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
        margin: 30px;
     }
     .footer-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
     }
     .footer-icon{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 50px;
        gap: 30px;
     }
}